.course-banner
{
    width: 100%;
    margin-top: 55px;
    background: #251e3e;
    min-height: 355px;
    padding: 50px 0px;
    padding-bottom: 25px;
    color: white;
    background: linear-gradient(89deg, rgba(2,0,36,1) 0%, rgb(37, 0, 27) 75%, rgb(2, 0,36, 1) 100%);
}

.w145
{
	width: 145px;
}
.course-title
{
	color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;

}
.course-description
{
	font-size: 14px;
}
.rating-stars i
{
    color: #FFC107;
    font-size: 13px;
}
.social-icons
{
	margin-left: 4px;
	color: white;
	font-size: 13px;
}
.social-icons i.fa-google {
    color: #ea4335;
}
.social-icons i.fa-facebook {
    color: #5882d8;
}
.social-icons i.trust-pilot {
    color: #00b67a!important;
}
.btn-default
{
	background-color: #FF9800;
    border: 1px solid transparent;
    color: black;
    font-weight: 400;
}
.btn-primary {
    color: #fff !important;
    background-color: #3a9aae;
    border: 1px solid #3a9aae;
    font-weight: 400;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000 !important;
    background-color: transparent;
    border-color: #3a9aae;
}
.btn-primary:hover {
  color: #000 !important;
    background-color: transparent;
    border-color: #3a9aae;
}
.font-12
{
	font-size: 12px;
}
.video-btn {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    top: 37%;
    width: 60px;
    height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
    border-radius: 100px;
    z-index: 1;
    color: #fff;
}


.video-btn i {
    color: #d8d8d8;
    font-size: 16px;
    line-height: 60px;
    margin-left: 4px;
}
.video-btn .ripple:nth-child(2) {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
.video-btn .ripple:nth-child(3) {
    animation-delay: .7s;
    -webkit-animation-delay: .7s;
}
.video-btn .ripple {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: -1;
    left: 0%;
    top: 0%;
    opacity: 0;
    /* margin: -55px 0 0 -55px; */
    border-radius: 100px;
    -webkit-animation: ripple 1.8s infinite;
    animation: ripple 1.8s infinite;
}
.orangebg {
    border: 1px solid #000;
    background: rgba(35, 38, 54, .8);
}
.video_box a img {
    width: 100%;
}
.vbimg
{
    height: 280px !important;
    width: 280px !important;
}

@keyframes ripple {
    0% {
      opacity:.25;
    }
    100% {
      border-radius:2em;
      opacity:0;
      transform:scale(3);
    }
  }
.video_box a span {
      background: rgba(45, 45, 45, .95);
    display: inline-block;
    width: 100%;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 5px;
}
.course-content
{
	padding-top: 25px;
}
.sidebar-list
{
     margin-left: 12px;
    padding: 0px;
    margin-top: -6px;
}
.sidebar-list li
{
   list-style-type: none;
    border: 1px solid #5e5e5d;
    margin: 7px 0px;
    background: #f5f3f3;
    cursor: pointer;
}


.sidebar-list li a
{
   color: black;
    padding: 8px 10px;
    text-decoration: none;
    transition: transform .2s;
    display:block;
    font-weight: 500;
}
.sidebar-link-active
{
    
    background: #3a9aae !important;
    color: white !important;
    border: none !important;
    border-color:#FF9800;
}
.sidebar-list li a:hover
{
   background: #FF9800;
    color: white !important;
    border-color:#FF9800; 
}
.sidebar-list li a img
{
	display: inline-block;
    padding: 0 10px;
    height: 29px;
    text-align: left;
    font-size: 14px;
}
.sidebar-list li a span
{
   display: inline-block;
    text-align: left;
}
.material-icons {
	vertical-align: middle;
	margin-right: 1em;
}
.plus-open{
	height: 16px;
    position: relative;
    top: -1px;
}
.open-text
{
 
    font-size: 14px;	
}


.btn-link
{
	color: #333333;
	display: block;
    width: 100%;
    text-align: left;
}
/* visited link */
.btn-link:visited {
  text-decoration: none;
 color: #333333;
}

/* mouse over link */
.btn-link:hover {
 text-decoration: none;
 color: #3a9aae;
 font-weight: 500;
}

/* selected link */
.btn-link:active {
  text-decoration: none;
  color: #3a9aae;
  font-weight: 500;
}

.btn-link:focus {
  text-decoration: none;
  color: #3a9aae;
  font-weight: 600;
}
.section-heading
{
	margin-bottom: 15px;
	text-align: -webkit-center;
    font-weight: 400;
    color: #50505b;
}


.section-text
{
	
	font-size: 15px;
	/*color: #1d121d;*/
	color: #5a5a5a;
}
.card-body
{
	font-size: 15px;
	color: #1d121d;
}
.subsection-heading
{
	font-size: 20px;
	color: #5a5a5a;
}
.gap
{
	height: 15px;
}
.text-image-block img
{
	width: 100%;
}
.course-stats {
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
    float: none;
}
.course-stats>div:first-child {
    padding-left: 0;
}
.course-stats>div {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, .1);
    width: 24%;
    padding: 0px 20px;
}
.course-stats p.counter {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.course-stats p {
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.course-stats>div:last-child {
    border-right: none;
}
.left-sidebar
{
	max-width: 19% !important;
    padding-left: 0px;
}
.card-header {
    padding: 0px 0px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.fixed{
	position: fixed;
	top: 70px;
}
.fixed-right{
	    position: fixed;
    top: 45px;
    right: 35px;
}
.col-offset-25
{
 margin-left: 19%;
}
.cus_badge {
    border-radius: 3px;
    font-size: 10px;
    padding: 2px 10px;
    background: #ffc600;
    border: none;
    color: #000;
    min-width: inherit;
    display: inline-block;
    font-weight: 700;
    line-height: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 0;
    vertical-align: baseline;
    margin-right: 10px;
}


.right-arrow {
	    position: relative;
    font-size: 20px;
    top: 5px;
    right: -30px;
    color: #ff9800;
    transform: scale(3.5, 3.0);
}
.cus_badge::after {
    background: inherit;
    content: '';
    height: 15px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 15px;
    display: block;
    border-radius: 3px;
    right: -5px;
    z-index: -1;
}
.feature-block
{
 margin-top: 35px;
}
.feature-block .col-lg-4
{
	text-align: center;
	margin-top: 10px;
}
.feature-block .col-lg-4 img
{
 height: 55px;
 margin-bottom: 10px;
 display: inline-block;
}
.feature-block .col-lg-4 h4
{
 font-size: 16px;
 font-weight: 600;
 
}
.feature-block .col-lg-4 p
{
 font-size: 14px;
 
}
.testimonial-list {
    position: relative;
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
}
.testimonial-thumb {
    margin-bottom: 15px;
}
.media:first-child {
    margin-top: 0;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media {
    margin-top: 15px;
}
.testimonial-thumb .media .media-left {
    padding-right: 20px;
}
.testimonial-thumb .testimonial-card {
    position: relative;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.title_name {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.testimonial-thumb span {
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.testimonial-thumb i.fa-star {
    color: #fda954;
    margin-top: 10px;
}
.user_letter {
    color: #ffffff !important;
    padding-left: 2px;
    font-size: 20px !important;
    line-height: 54px !important;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #6d024f;
    margin-top: 0px;
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
}
.testimonial-thumb .testimonial-card .testimonial-profile:after {
   content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 54%;
    right: 10%;
    background: url(https://mindmajix.com/assets_new/linkedin_icon.png) no-repeat;
    border-radius: 50%;
}
.section
{
	    border: 1px solid #c7c7c7;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding: 10px;
}

.main-content
{
	    padding: 0px;
}
.course
{
	    /*width: 250px;*/
    float: left;
    margin:2%;
}
.course-img
{
	width: 100%;
    background: #cecece;
    min-height: 100px;
}
.course-details
{
	    padding-left: 10px;
}
.course-details .course-title2
{
	        font-size: 14px;
    color: #3e3d3d;
    font-weight: 500;
    margin: 0px 0px;
    margin-bottom: 0px;
    height: 35px;
}
.course-instructor
{
	    color: gray;
    font-size: 14px;
}
.fa-star
{
	    color: #FF9800;
}
.course-details .rating
{
	position: relative;
    top: -14px;
    font-size: 14px;
}
.course-carousel-live .slick-prev, .course-carousel-live .slick-next {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}
.course-carousel-live .slick-prev:before {
    content: url(prev_arrow.png);
    line-height: 0;
    opacity: 1;
}
.course-carousel-live .slick-next:before {
    content: url(next_arrow.png);
    line-height: 0;
    opacity: 1;
}

.video-testimonials .slick-prev, .video-testimonials .slick-next {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}
.video-testimonials .slick-prev:before {
    content: url(prev_arrow.png);
    line-height: 0;
    opacity: 1;
}
.video-testimonials .slick-next:before {
    content: url(next_arrow.png);
    line-height: 0;
    opacity: 1;
}
.related-courses
{
	margin-top: 20px;
	/*margin-left: 1%;*/
}
.related-heading
{
	text-align: center;
	margin-bottom: 25px;
}
.related-heading span::after {
       content: "";
    background: #3e8695;
    width: 150px;
    height: 3px;
    display: block;
    position: absolute;
    top: 39px;
    left: 43%;
}
.calendar
{
	height: 55px;
}
.btn-default2
{
	
    background: #20001c;
    color: white;
    font-weight: 500;
    font-size: 14px;

}
.btn-default2:hover
{
	color: white;
}
.spark
{
 margin-top: 25px;
}
.spark div
{
	background: beige;
    padding: 8px;
}
.spark img
{
 height: 36px;
}
.spark span
{
	font-weight: 400;
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
.right-sidebar
{
	    max-width: 19%;
    margin-left: 12px;
}
.number a
{
	color: black;
}
.phone-font
{
	    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: -4px;
    top: -9px;
}


/* home page css*/
.video-box
{
	margin-left: 5px;
	float: left;
	width: 200px;
}
.course-details h1 {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.search-input
{
	width: 45%!important;
    height: 45px;
    border-radius: 0px;
    border-right: none;
}
.search-btn
{
	height: 45px;
	border-radius: 0px;
}
.banner-icon
{
	height: 35px;
}
.banner-icon-text
{
	    margin-top: 4px;
    color: #ff9800;
}
.why-us img
{
	height: 80px;
}
.why-us h4
{
	font-size: 15px;
    font-weight: 500;
    margin: 10px 0px;
    margin-bottom: 8px;
}
.why-us p
{
	font-size: 14px;
}
.bline::after {
   content: "";
    background: #25001B;
    width: 286px;
    height: 3px;
    display: block;
    position: relative;
    top: 12px;
    left: 37%;
}

.bline-courses::after {
       content: "";
    background: #25001B;
    width: 155px;
    height: 3px;
    display: block;
    position: relative;
    top: 12px;
    left: 43%;
}
.bline-partner::after {
    content: "";
    background: #25001B;
    width: 172px;
    height: 3px;
    display: block;
    position: relative;
    top: 12px;
    left: 44%;
}

.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
    padding: 30px 0 10px;
    color: #393939;
    font-size: 15px;
}
.carousel .overview {	
	text-align: center;
    padding-bottom: 5px;
    color: #eb7245;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px;
    z-index: 100;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	/* left: auto; */
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
	border: none !important;
}
.carousel-indicators li {	
	background: #878787;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #504f4f;		
} 
.course-details {
    padding-top: 8px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    -ms-webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

/* footer css */
.unka-footer
{
    position: relative;
    background-color: #151c2a;
    z-index: 7;
    margin-top: 50px;
}
footer .container {
     padding-top: 45px;
    padding-bottom: 0px;
}
.position-relative {
    position: relative;
}
.footer_head {
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 14px;
    color: #dfdfdf;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
    padding: 0;
    background: 0 0!important;
}
.footer-list li {
    margin: 0;
}
.footer-list li a {
    color: #dfdfdf;
}
.footer__link {
    font-size: 14px;
    color: hsla(0,0%,100%,.65);
    font-weight: 400;
    display: block;
    padding: 6px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}
.copyright {
    padding: 30px 0 30px 0;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    margin-top: 20px;
}

.copyright {
    padding-bottom: 35px;
    line-height: 25px;
}
.social-links {
    margin-top: 15px;
}

.list-items {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.social-links li {
    display: inline-block;
}

.list-items>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.social-links a {
    color: #fff;
    margin-right: 0;
}
.icon-social {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
}
.btn-facebook, .facebook {
    background-color: #5882d8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


.btn-twitter, .twitter {
    
    background: #da1616;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.btn-linkedin, .linkedin {
    background-color: #0077b5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.btn-youtube, .youtube {
    background-color: #e94850;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.footer-list
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.bot-footer
{
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0px;
    border-bottom: 1px solid black;
    right: 0px;
    z-index: 100;
    font-size: 15px;
    color: white;
    padding: 12px;
    text-align: center;
}

.clos-cus
{
    background: #bd1c1c !important;
    border: none;
    margin: 20px 10px;
}
.bot-links
{
    margin: 0px 30px;
    color: white !important;
}
.footer-country-div {
    height: 350px;
    overflow-y: scroll;
}
.country_list_footer
{
    list-style: none;
    padding-left: 10px;
    border-bottom: 1px dotted rgb(221, 221, 221);
    cursor: pointer;

}
.footer-country{
padding-left: 10px;
border-bottom: 1px dotted rgb(221, 221, 221);
cursor: pointer;
padding:5px;
}
.hide-lg
{
	display: none;
}
.hide-sm
{
	display: block;
}
.video-box .course-imgbox
{
	position: relative;
}
.video-play-img
{
	height: 60px;
    position: absolute;
    top: 87px;
    left: 81px;
    z-index: 1;
}
#videoModal .modal-content
{
	border: none;
    background-color: transparent;
}
#videoModal .modal-content iframe{
        margin: 0 auto;
        display: block;
}
.right-sidebar .box
{
	padding: 0px 8px 0px 13px;
    border: 1px solid #d4d4d4;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0,0,0,0.05);
    cursor: pointer;
}

.right-sidebar .box h4
{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 4px;
    background: #f5f3f3;
    padding: 12px 0px;
    margin: -5px -10px 0px -13px;
    text-align: center;
}
.right-sidebar .box p
{
	font-size: 14px;
	color: gray;

}
.right-sidebar .box .point a
{
	 color: #20001d;

}

.fixed_widgets {
    padding: 0;
    height: 45px;
    line-height: 45px;
    position: sticky;
    width: 100%;
    z-index: 99;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px -5px #000;
    box-shadow: 0 0 10px -5px #000;
}
.fixed_box {
    margin: 0 auto;
    display: block;
    text-align:left;
}
.fixed_box span {
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
    padding: 0 20px;
    position: relative;
}

.cb_box {
    background: #3a9aae;
    width: 17.3%;
    margin-left: -3px !important;
}
.cb_box_inner, .dq_box_inner, .ct_box_inner, .in_box_inner, .en_box_inner {
    display: table;
    width: 100%;
}
.fixed_box a {
    display: block;
    color: #333;
    text-align: center;
    font-weight: 500;
}
.fixed_box a:hover
{
	text-decoration: none;
}

.cb_box_inner a {
    color: #fff!important;
    font-size: 16px;
}
.fixed_box span i {
    font-size: 16px;
    display: inline-block;
    margin-right: 8px;
    color: #20001c;
}

.cb_box_inner i {
    color: #fff!important;
    font-size: 26px!important;
    position: relative;
    top: 3px;
}
.fixed_box span::after {
    content: "";
    background: #ccc;
    width: 1px;
    height: 45px;
    display: block;
    position: absolute;
    top: 0;
    right: -17px;
}
.ct_box_hover {
    position: absolute;
    padding: 15px;
    background: #fff;
    width: 400px!important;
    right: -20px;
    margin: 0 auto;
    top: 45px;
    transition: box-shadow 280ms ease-in-out;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .05), 0 4px 8px 3px rgba(60, 64, 67, .15);
    background-size: auto 103%;
}
.ct_box_hover h5 {
    padding: 5px 0;
    line-height: 15px;
}
.ct_box_hover p {
    font-size: 13px;
    padding: 5px 0;
    line-height: 20px;
}

.discount_btn .btn.btn-primary {
    display: table;
    margin: 15px auto 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.in_box_inner a {
    color: #ff585c;
}
.in_box_inner i {
    color: #ff585c!important;
}
.discount_hover {
    position: absolute;
    padding: 15px;
    background: #fff;
    width: 400px!important;
    right: 0;
    left: -25px;
    margin: 0 auto;
    top: 45px;
    transition: box-shadow 280ms ease-in-out;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .05), 0 4px 8px 3px rgba(60, 64, 67, .15);
    background-size: auto 103%;
}
.discount_hover h5 {
    padding: 5px 0;
    line-height: 15px;
}
.discount_hover p {
    font-size: 12px;
    padding: 5px 0;
    line-height: 16px;
}
.discount_box {
    background: #f4f4f4;
    margin: 10px 0 0;
}
.discount_box p {
    background: #e3e3e3;
    padding: 8px;
}

.discount_hover p {
    font-size: 12px;
    padding: 5px 0;
    line-height: 16px;
}
.discount_box h4 {
    padding: 12px 8px;
    font-size: 16px;
}
.en_box_inner {
    position: relative;
}
.en_box_inner a {
    display: inline;
    padding: 8px 40px 8px 20px;
    border-radius: 5px;
       background: #3a9aae;
    color: #fff;
}
.en_box_inner p {
    position: absolute;
    font-size: 9px;
    right: -25px;
    color: #fff;
    top: 12px;
    padding: 0 5px;
    line-height: 18px;
    background: red;
    border-radius: 5px;
}
.btn-banner
{
	color: white;
    background: transparent;
    border: 1px solid darkcyan;
    padding: 10px 15px;
    box-shadow: 0px 0px 9px 0px #06a9cc;
}
.btn-banner:hover
{
	background: #860d2836;
    color: white!important;
}
.sliding .one-user
{
	border-bottom: 1px solid #d4d1d1;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.sliding .one-user img
{
     height: 59px;
    border-radius: 50%;
    display: inline-block;
}
.sliding .one-user .username
{
   font-size: 13px;
    display: block;
    margin: 0px 0px;
    color: #282828;
}
.sliding .one-user .designation
{
   font-size: 13px;
    display: block;
    color:#6e6e6e;;
}

.sliding
{
	margin-top: 12px;
}
.example3 {
 height: 460px;	
 overflow: hidden;
 position: relative;
}

.example3 .one {
	position: absolute;
	/*top: -100%;*/
	/*height: 100%;*/
    width: 100%;
    transform: translateY(-100%);
    /*-moz-animation: example3 15s linear infinite;
    -webkit-animation: example3 15s linear infinite;*/
    animation: slide1 20s linear infinite;
    margin-bottom: 8px;
}
.example3 .two {
    position: absolute;
    /*top: 0%;*/
    transform: translateY(0%);
    /*height: 100%;*/
    width: 100%;
    margin-bottom: 8px;
   
    /*-moz-animation: example3 15s linear infinite;
    -webkit-animation: example3 15s linear infinite;*/
    animation: slide2 20s linear infinite;
}
/* Move it (define the animation) */
/*@-moz-keyframes example3 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example3 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}*/
@keyframes slide1 {
 0%   { transform: translateY(-100%);}
 100% { transform: translateY(0%); }
}
@keyframes slide2 {
 0%   { transform: translateY(0%);}
 100% { transform: translateY(100%);}
}
h3
{
	color: #6b6b6b;
}

.border
{
 border: 1px solid #d9d5d5;
 padding-top: 12px;
}
.border-right-none
{
	border-right: none !important;
}

.sliding-home .one-user
{
	border-bottom: 1px solid #e4e4e4;
    padding-bottom: 4px;
    margin-bottom: 8px;
    clear: both;
    min-height: 69px;

}
.sliding-home .one-user img
{
    height: 59px;
    border-radius: 50%;
    float: left;
}
.sliding-home .one-user .username
{
   font-size: 13px;
    color: #282828;
    margin-left: 7px;
    font-weight: 500;
}
.sliding-home .one-user .designation
{
   font-size: 13px;
    display: block;
    color: #504e4e;
    position: relative;
    left: 7px;
}

.sliding-home
{
	margin-top: 12px;
}
.sliding-home .example3 {
 height: 460px;	
 overflow: hidden;
 position: relative;
}
.sliding-home .example3 .one {
	position: absolute;
	/*top: 0px;*/
	height: 100%;

width: 100%;
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-animation: example3 15s linear infinite;
    -webkit-animation: example3 15s linear infinite;
    animation: example3 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example3 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example3 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes example3 {
 0%   { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

.sub-heading-home
{
	    color: #454545;
    font-size: 18px;
    position: relative;
}
.section-heading-home
{
	color: #242424;
    font-size: 25px;
    position: relative;
}
.company
{
	color: darkcyan;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #3e3d3d;
    background-color: transparent;
    border-bottom: 4px solid darkcyan;
    border-radius: 0px;
    font-weight: 500;
}
.nav-pills .nav-link:hover
{
	 color: #3e3d3d;
    background-color: transparent;
    border-bottom: 4px solid darkcyan;
    border-radius: 0px;
    font-weight: 500;
}
.nav-item
{
	margin-left: 4px;
}
.nav-link {
    display: block;
    /*padding: .5rem 1rem;*/
    color: #3e3d3d;
    padding: 5px 10px;
}

.border-after
{
	border-bottom: 3px solid darkcyan;
    padding-bottom: 5px;
}

.course-carousel-live-tabs .slick-prev, .course-carousel-live-tabs .slick-next {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}
.course-carousel-live-tabs .slick-prev:before {
    content: url(prev_arrow.png);
    line-height: 0;
    opacity: 1;
}
.course-carousel-live-tabs .slick-next:before {
    content: url(next_arrow.png);
    line-height: 0;
    opacity: 1;
}

.other-category-box
{
 padding: 10px;
    margin: 5px 0px;
    opacity: 1;
    box-shadow: 0px 0px 5px 3px #f1f1f1;
    cursor: pointer;

}
.other-category-box img
{
 height: 40px;
}
.other-category-box span
{
 margin-left: 10px;
    color: #495057;
    font-size: 14px;
}
.mt-45
{
 margin-top: 28px;
}
.textblock .list-item,.listblock .list-item
{
 font-size: 15px;
    color: #5a5a5a;
    margin: 8px 15px !important;
}
.slick-slide img {
    display: block;
    width: 100%;
}

.myf-modal-header {
    padding: 15px;
}
.myf-form-modal {
    padding: 20px;
    text-align: center;
    margin-top: -35px;
}
.mform-input_modal
{
    display: block;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    height: 40px;
    padding: 8px;
}
.iti
{
    display: block !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.myf-btn-modal
{
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;

}
.myf-form-modal
{
    padding: 20px;
    text-align: center;
    margin-top: -35px;
}
#telephone2,#telephone3,#telephone-website
{
    padding-left: 85px !important;
}
.myf-modal-header
{
    padding: 15px;
}
.myf-modal-header .myf-heading
{
    text-align: center;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
}
.myf-modal-header .close
{
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    color: #303030;
    opacity: 1;
}
.after-box
{
    text-align: center;
    font-size: 18px;
    /* color: #03365f; */
}
.teare-web {
    border: none;
    border-bottom: 1px solid #e0dFde;
    width: 100%;
}

.mform-textarea {
    resize: none;
}

.navbar-dark2
{
 background-color: #fff!important;
 height: 55px;
 position: fixed;
 z-index: 1000;
 width: 100%;
 top: 0;
 border-bottom: 1px solid #828282;
}
.category-dropdown
{
    position: fixed;
    background: white;
    padding: 10px;
    border: 1px solid #e4e4e4;
    align-items: flex-start !important;
    z-index: 100;
    visibility: hidden;
}
.visible
{
    visibility: visible;
}

.category-dropdown .category-title
{
    font-size: 15px;
    color: #480148;
    border-bottom: 1px dashed;
    padding-bottom: 5px;
    font-weight: 500;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 3px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e8e8e8;
}
.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #e8e8e8;
}
/* css by umar */
.text-center-resp{
    text-align: left;
}
.padding-responsive{
    padding-left: 3rem;
}
@media (max-width: 780px){
    .course-stats p.counter {
        font-size: 19px;
        line-height: 30px;
        font-weight: 700;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .course-stats p {
        font-size: 9px;
        line-height: 18px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .carousel {
        width: auto;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    #student{
        display: none;
    }
    .bot-footer
{
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0px;
    border-bottom: 1px solid black;
    right: 0px;
    z-index: 100;
    font-size: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    
}
.navbar-dark2
{
 background-color: #fff!important;
 height: auto;
 position: fixed;
 z-index: 1000;
 width: 100%;
 top: 0;
 border-bottom: 1px solid #828282;
}
.navbar-toggler{
    background-color: #0077b5;
}
.text-center-resp{
    text-align: center;
}
.padding-responsive{
    padding-left:1rem;
    padding-right:1rem;
}
.fixed_box {
    margin: 0 auto;
    display: none;
    text-align: left;
}
.left-sidebar {
    max-width: 100% !important;
    padding-left: 0px;
}
.col-offset-25 {
    margin-left: unset;
}
.fixed{
	position: relative;
	top: 0;
}
.fixed-right{
    position: relative;
    top: 0px;
  right: 0;
}
.right-sidebar {
    max-width: 100%;
    margin-left: 0px; 
}

}
.cus-table
{
    width: 100%;
    margin: 25px 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}
.cus-table td
{
        border-bottom: 1px solid #e0dede;
    text-align: left;
    padding: 15px 7px 15px 15px;
    /*border-right: 1px solid #e0dede;*/
    font-weight: 600;
    color: #1b1b1b;
}
.cyan
{
       color: #3a9aae;
}
.cant-find-text
{
        position: relative;
    top: -20px;
}

